<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="images/icon.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <title>Software-Component-Cataloguing-Home</title>
</head>

<body>


    <div class="navigation-wrap start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand grow" href="/">SCCS</a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <% if(user){ %>
                                    <%if(user.admin){%>
                                        <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                            <a class="nav-link" href="/admin">Admin</a>
                                        </li>
                                        <%}%>
                                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                <a class="nav-link" href="/add">Add Component</a>
                                            </li>
                                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                <a class="nav-link" href="/">Hi, <%=user.name%></a>
                                            </li>
                                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                <a class="nav-link" href="/logout">Logout</a>
                                            </li>
                                            <%}%>
                                                <%if(!user){%>
                                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                        <a class="nav-link" href="/login">Login</a>
                                                    </li>
                                                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                        <a class="nav-link" href="/register">Register</a>
                                                    </li>
                                                    <%}%>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>


    <div class="container">
        <form class="search-form" action="/search" method="post">
            <div class="row">
                <div class="col-xs-8 search-bar">
                    <input type="text" name="name" value="" placeholder="Search Component">
                </div>
                <div class="col-xs-4 author-bar">
                    <input type="text" name="author" value="" placeholder="Search Author">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <select class="dropdown-bar" name="type">
                        <option>Select Type</option>
                        <option>Code Snippet</option>
                        <option>Design Snippet</option>
                    </select>
                </div>

                <div class="col-md-3 col-xs-6">
                    <button type="submit" name="button" class="search-button">Search</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <%if(components.length>0){%>
            <%for(var i=0;i<components.length;i=i+2){%>
                <div class="row">
                    <%for(var j=0;(i+j)<components.length && j<2;j++){%>
                        <div class="col-md-6">
                            <a href="/detail/<%= components[i+j]._id %>" style="color:black;text-decoration: none;">
                                <div class="card">
                                    <div class="main-heading">
                                        <h1>
                                            <%= components[i+j].name %>
                                        </h1>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 l1-left head">
                                            <h4>
                                                <%= components[i+j].type %>
                                            </h4>
                                            <div class="col-xs-6 l1-left">
                                                <div class="main-heading" style="padding: 0 0 0 20rem;">
                                                    <div class="upvote">
                                                        <h4>
                                                            <i style="font-size:24px" class="fa">&#xf087;</i>
                                                            <div>
                                                                <%= components[i+j].upvote %>
                                                            </div>
                                                        </h4>
                                                    </div>
                                                    <div class=" downvote">
                                                        <h4>
                                                            <i style="font-size:24px" class="fa">&#xf088;</i>
                                                            <div>
                                                                <%= components[i+j].downvote %>
                                                            </div>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6 l1-left">
                                            <p>By
                                                <%= components[i+j].author %>
                                            </p>
                                        </div>
                                        <div class="col-xs-6 l1-left">
                                            <p>
                                                <%= components[i+j].formated_date %>
                                            </p>
                                        </div>
                                    </div>
                                    <%if(user && String(user._id)===String(components[i+j].userid)){%>
                                        <div class="row">
                                            <div class="col-xs-6 mod-btn">
                                                <a href="/edit/<%= components[i+j]._id %>">
                                                    <button type="button" name="button" class="edit-button"><i
                                                            class="fa fa-edit"></i></button>
                                                </a>
                                            </div>
                                            <div class="col-xs-6">
                                                <a href="/delete/<%= components[i+j]._id %>">
                                                    <button type="button" name="button" class="delete-button"><i
                                                            class="fa fa-trash"></i></button>
                                                </a>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </a>
                        </div>
                        <%}%>
                </div>
                <%}%>
                    <%}else{%>
                        <div class="card">
                            <h1>No components found</h1>
                        </div>
                        <%}%>
    </div>




    <br><br>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="/js/main.js" charset="utf-8"></script>
</body>

</html>